# Created by .ignore support plugin (hsz.mobi)
/.cproject
/.project
/build.*/
/.pydevproject
/.cache/
*.so
*.py[cod]
/.idea
/.DS_Store
*.egg-info
*.egg
/build
develop-eggs
/dist
/eggs
lib
lib64
/.svn
/.idea
/run_tests
/diagrams
/doc/build
CL.txt
/venv
/tests/observation_yaml_dummy_files/*
#/doc/source/user_guide*
/doc/source/user_guide/*.png
/doc/source/user_guide/*.fits
/doc/source/user_guide/*.root
/doc/source/user_guide/ScienceWindowList-Copy1.ipynb
/doc/source/user_guide/Untitled.ipynb
/doc/source/user_guide/chains
#!/doc/source/user_guide/*ipynb
#!/doc/source/user_guide/TestAPI_files
*.gpg
data
.ipynb_checkpoints
*.swp
Crab*fits*
*.log
scratch*
response.json
.coverage
.vscode
one_image.fits
vlf_table.fits
.oda-token
tests/.oda-token

.ipynb_checkpoints
.venv