# Created by .ignore support plugin (hsz.mobi)
/.cproject
/.project
/build.*/
/.pydevproject
/.cache/
*.so
*.py[cod]
/.idea
/.DS_Store
*.egg-info
*.egg
/build
develop-eggs
/dist
/eggs
lib
lib64
/.svn
/.idea
/run_tests
/diagrams
/doc/build
CL.txt
/doc/source/user_guide*
!/doc/source/user_guide/*ipynb
!/doc/source/user_guide/*.rst
!/doc/source/user_guide/TestAPI_files
