[build-system]
requires = ["setuptools>=64",]
build-backend = "setuptools.build_meta"

[project]
name = "oda_api"
dynamic = ["version"]
description = "API plugin for CDCI online data analysis"
authors = [
    {name = "Andrea Tramacere", email = "contact@odahub.io"},
    {name = "Volodymyr Savchenko", email = "contact@odahub.io"}
]
maintainers = [
  {name = "Gabriele Barni", email = "contact@odahub.io"},
  {name = "Denys Savchenko", email = "contact@odahub.io"}
]
readme = "README.md"
requires-python = ">=3.9"

dependencies = [
    "requests",
    "future",
    "astropy",
    "json_tricks",
    "matplotlib<3.10",
    "bokeh>3.0,<3.2",
    "numpy>=2.0",
    "jsonschema",
    "pyjwt",
    "astroquery",
    "scipy",
    "rdflib",
    "black",
    "puremagic",
]

[project.optional-dependencies]
test = [
    "pytest-xdist[psutil]",
    "astroquery>=0.4.4",
    "cdci_data_analysis",
    "papermill>=2.6.0",
]
gw = [
    "gwpy",
    "ligo.skymap"
]

[project.scripts]
oda-api = "oda_api.cli:main"


[tool.setuptools]
packages = ["oda_api"]

[tool.setuptools.dynamic]
version = {attr = "oda_api.__version__"}

[tool.uv.sources]
cdci_data_analysis = { git = "https://github.com/oda-hub/dispatcher-app.git", branch = "numpy-gt-2" }
