requests
future
astropy<=6.1.4
json_tricks
matplotlib
numpy
jsonschema
astroquery
-e git+https://github.com/oda-hub/dispatcher-app.git#egg=cdci_data_analysis[test]
simplejson
sentry_sdk
rdflib
bokeh==3.1.1
puremagic