name: Executing Notebook

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
   
    steps:
    - uses: actions/checkout@v4
      with:
        path: oda-api
        
    - uses: prefix-dev/setup-pixi@v0.9.4
      with:
        run-install: false
        pixi-version: v0.63.2
    
    - name: Prepare environment
      run: |
        pixi init -c conda-forge -c https://heasarc.gsfc.nasa.gov/FTP/software/conda/
        pixi config set --local run-post-link-scripts insecure
        pixi add papermill jupyter_client nbconvert xspec
        pixi add --pypi oda-api@`realpath ./oda-api`

    - name: Run Tutorial Notebooks
      id: nb
      run: |
        set +e
        env

        export HOME_OVERRRIDE=/tmp/home
        mkdir -pv /tmp/home

        pixi run papermill doc/source/user_guide/AsynchronousAPI.ipynb doc/source/user_guide/AsynchronousAPI-output.ipynb
        echo "exit_code=$?" >> $GITHUB_OUTPUT
        pixi run jupyter nbconvert --to html doc/source/user_guide/AsynchronousAPI-output.ipynb
        
    - uses: actions/upload-artifact@v4
      with:
        name: AsynchronousAPI-output.html
        path: doc/source/user_guide/AsynchronousAPI-output.html

    - name: Determine nb execution failure
      run: |
        exit ${{ steps.nb.outputs.exit_code }}
