# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Live API tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "*" ]
    types:
    - labeled
    - opened
    - synchronize
    - reopened


jobs:
  build:
    if: contains( github.event.pull_request.labels.*.name, 'test-live')

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v4
    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.9.9"
        python-version: ${{ matrix.python-version }}

    - name: Install the project
      run: |
        uv sync --locked --all-extras --dev
        uv run python -m ipykernel install --prefix $HOME/.local/share/jupyter/kernels --name python3

    - name: Test with pytest
      run: |
        uv run python -m coverage run -m pytest tests --run-only-live
