# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v4

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.8.13"
        python-version: ${{ matrix.python-version }}

    - name: Install the project
      run: |
        uv sync --locked --all-extras --dev
        curl -o tests/oda-ontology.ttl https://raw.githubusercontent.com/oda-hub/ontology/main/ontology.ttl

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        uv run flake8 oda_api --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        uv run flake8 oda_api --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: PyLint - more lint
      run: |
        uv run pylint --rcfile=.pylintrc -E oda_api

    - name: MyPy
      run: |
        uv run mypy oda_api --ignore-missing-imports --implicit-optional

    - name: Test with pytest
      run: |
        uv run python -m coverage run -m pytest tests -m 'not slow and not test_drupal and not live' # this will currently not run any real requests, nor any request to post content over the product gallery
        echo "should maybe also run this: 'python -m pytest tests -k production-1-2'"

    - name: Codecov
      uses: codecov/codecov-action@v1.3.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
